body {
  background-color: teal;
}

.name {
  text-align: center;
  font-weight: bold;
  color: darkblue;
  padding-top: 30px;
  font-size: 28px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2rem;
  font-weight: bold;
  background-color: darkblue;
  z-index: 1000;
  text-align: center;
}

.navlink, .dropdown {
  display: inline-block;
}

.navbar a {
  z-index: 1001;
  padding: 5px;
  color: rgba(0, 255, 234, 0.877)
}

h1, h2 {
  text-align: center;
  padding-top: 15px;
}

p {
  text-align: center;
}

#Contact_Us {
  background-color: darkblue;
  color: white;
  text-align: center;
}

#dogsimg, #goatsimg, #donkeyimg {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.navbar a:hover {
  background-color: white;
  color: black;
  z-index: 1002;
}

 /* Dropdown container */
 .dropdown {
   z-index: 1003;
   color: teal;
 }

  .dropdown .dropbtn {
   font-size: 12px;
   border: none;
   outline: none;
   color: black;
   background-color: darkblue;
   color: rgba(0, 255, 234, 0.877);
   font-weight: bold;
   z-index: 1004;
 }

.dropdown:hover .dropbtn {
  background-color: teal;
  color: black;
  z-index: 1005;
}

/* Dropdown menu */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: teal;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1006;
}

.dropdown-content a {
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
  z-index: 1007;
}

.dropdown-content a:hover {
  background-color: gray;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

footer a {
  z-index: 1001;
  padding: 5px;
  color: rgba(0, 255, 234, 0.877);
  font-size:20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}